*{
    background-color: lightgray;
    text-align: center;
    margin: 0px;
}
#backgroundImage{
    padding-top: 0.8in;
    position: relative;
    height: 9.3in;
    width: 90%;
    opacity: 0.5;
}
.flex-container{
    background-color: transparent;
    font-size:35.5px;
    position: absolute;
    transform: translate(100%,15%);
    height: 500px;
    width: 5in;
    padding-top: 0.1in;
    opacity: 0.9;
}
.background{
    background-color: transparent;
}
#TitleName{
    background-color: transparent;
    font-size: 55px;
    color: white;
}
#yourName{
    background-color: transparent;
}
#field1{
    background-color: transparent;
}